/* Baconfarm Font */
/* License: Freeware */
/* Source: https://www.fontspace.com/baconfarm-font-f16910 */

@font-face {
  font-family: 'Baconfarm';
  src: url('/fonts/baconfarm-font/Baconfarm-7yEw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
