.animated-marker-box-outer {
  position: fixed;
  top: 60px;
  left: 10px;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: breathing 5s ease-out infinite normal;
  padding: 3px;
}

.animated-marker-box-inner {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-icon {
  font-size: 48px;
  line-height: 1;
  user-select: none;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}
